.media {
	display: flex;
	background-color: #DCDCDC;
	align-items: flex-start;
}
.media-body {
	flex: 1;
	background-color: #C0C0C0;
}
img {
	width: 300px;
	height: 200px;
}
.media-object {
	order: 1;
}